body, html{
    height:100%;
    width: 100%;
    margin:0;
    font-size:16px;
    font-family:"Didact Gothic", sans-serif;
    font-weight:400;
    line-height:1.8em;
    color:#666;
    position: relative;
}

.pimg1, .pimg2, .pimg3, .pimg4, .pimg5{
    position:relative;
    /*opacity:0.90;*/
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
}

.pimg2-animate{
    opacity: 1;
}

.section{
    text-align:center;
    /*    padding:25px 50px;*/
    background-color:#595959;
    color:#ddd;
    height: 50px;
    margin-top: -20px;
}

.section h2 {
    font-size: 40px;
}

.row {
    width: 100%;
}

/*******************
		NAV
********************/

#login-dp{
    min-width: 250px !important;
    padding: 14px 14px 0 !important;
    overflow:hidden !important;
    background-color:rgba(255,255,255,.8) !important;
}
#login-dp .help-block{
    font-size:12px !important
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8) !important;
    border-top:1px solid #ddd !important;
    clear:both !important;
    padding:14px !important;
}
#login-dp .social-buttons{
    margin:12px 0 !important
}
#login-dp .social-buttons a{
    width: 49% !important;
}
#login-dp .form-group {
    margin-bottom: 10px !important;
}
.btn-fb{
    color: #fff !important;
    background-color:#3b5998 !important;
}
.btn-fb:hover{
    color: #fff !important;
    background-color:#496ebc !important
}
.btn-tw{
    color: #fff !important;
    background-color:#55acee !important;
}
.btn-tw:hover{
    color: #fff !important;
    background-color:#59b5fa !important;
}
